* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 90px;
    text-align: center;
    color: black;
}

body {
    background-color: #efefef;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    align-items: center;
    justify-content: center;
}

#list {
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;*/

    padding: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#actionCall {
    text-align: center;
}

#rest > input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.articleContainer {
    width: 600px;
    overflow: hidden;
}

.image {
    width: 100%;
    border-radius: 6px;
    transition: 0.3s linear;
}

.articleContainer2 {
    background-color: #ffffffdd;
    margin: 0 20px;
    padding: 30px;
    border-radius: 6px;
    transform: translateY(-60px);
    transition: 0.3s linear;
}

.url {
    font-size: 18px;
    margin-bottom: 10px;
}

.category {
    font-size: 15px;
    font-style: italic;
    color: #e77f67;
    margin-bottom: 10px;
}

.articleContainer:hover .image {
    transform: translateY(5px);
}

.articleContainer:hover .articleContainer2 {
    transform: translateY(-50px);
}

.body > figure > img {
    width: 600px;
    height: 400px;
}
