h2 {
    color: ghostwhite;
}

h1 {
    font-size: 90px;
    text-align: center;
    color: black;
}

body {
    background-color: #efefef;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

/* Button group to to of page */
.btn-group button {
    background-color: white; /* Green background */
    border: 2px solid #659dbd; /* Green border */
    color: #659dbd; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 33%;
}

label {
    display: block;
    font: 1rem "Fira Sans", sans-serif;
    color: white;
}

input,
label {
    margin: 0.4rem 0;
}

.articleContainer {
    width: 500px;
    padding: 40px;
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}
